.animate-character
    /*
    {background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    */
	{background-image: linear-gradient(-225deg, cyan 0%, blue 29%, mediumpurple 67%, red 100%); background-clip: border-box; background-size: 200% auto; text-fill-color: transparent; animation: textclip 1.5s linear infinite; font-size: 50px; color: white; font-family: 'Courier New', Courier, monospace; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}


@keyframes textclip {from {background-position: 0 center;} to {background-position: 200% center;}}
	.dropbtn {background-color: #4CAF50; color: white; padding: 16px; font-size: 16px; border: none; cursor: pointer;}
	.dropdown {position: relative; display: inline-block;}
	.dropdown-content {display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); z-index: 1;}
	.dropdown-content a {color: black; padding: 12px 16px; text-decoration: none; display: block;}
	.dropdown-content a:hover {background-color: #f1f1f1}
	.dropdown:hover .dropdown-content {display: block;}
	.dropdown:hover .dropbtn {background-color: #3e8e41;}
	.textarea {width: 100%; height: 150px; padding: 12px 20px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #f8f8f8; font-size: 16px; resize: none; transition: width 0.4s ease-in-out;}
